main{
	margin:0 auto; /* permet de centrer la page*/
	width: 65%;
	text-align: center;

}


nav
{
	width : 150px ;
	border : 1px solid blue ;
	position: relative;
	left: 20px;
	text-align: left;
}

section
{
	border : 1px solid blue ;
	width: 60%;
	position:relative;
	top: -115px;
	right: -200px;
	margin-left: 50px ;



}

footer{
clear:left;
margin-top: 14.5pc;
position: relative;
	top: -335px;

}


